# Task = Write code to merge the two datasets, calculate the price per calorie of food, and stack rank the foods from the 'best value' (most calories per dollar*) to 'worst value' (least calories per dollar*).

In [1]:
import pandas as pd
import numpy as np

In [2]:
prices = pd.read_csv(r'C:\Users\rachi\OneDrive\Desktop\Data Interview Qs\Mc Donalds\mcD_food_prices.csv')
prices.head()

                                Food  Price_USD
0                         Side Salad       1.70
1   Premium McWrap (Grilled Chicken)       4.48
2  Southwest Salad (Grilled Chicken)       5.13
3                       Apple Slices       1.07
4                  Smoothies (small)       3.09

In [4]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Food       58 non-null     object
 1   Price_USD  58 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1.0+ KB

In [3]:
calories = pd.read_csv(r'C:\Users\rachi\OneDrive\Desktop\Data Interview Qs\Mc Donalds\mcD_food_calories.csv')
calories.head()

                                Food  Calories
0                         Side Salad        20
1   Premium McWrap (Grilled Chicken)       190
2  Southwest Salad (Grilled Chicken)       330
3                       Apple Slices        70
4                  Smoothies (small)       215

In [5]:
calories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Food      58 non-null     object
 1   Calories  58 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.0+ KB

In [6]:
# Merge 2 datasets
menu = prices.merge(calories, on = 'Food')
menu.head()

                                Food  Price_USD  Calories
0                         Side Salad       1.70        20
1   Premium McWrap (Grilled Chicken)       4.48       190
2  Southwest Salad (Grilled Chicken)       5.13       330
3                       Apple Slices       1.07        70
4                  Smoothies (small)       3.09       215

In [8]:
# calculate price per calorie of food
menu['price_per_calorie'] = round(menu['Price_USD']/menu['Calories'],4)
menu.head()

                                Food  Price_USD  Calories  price_per_calorie
0                         Side Salad       1.70        20             0.0850
1   Premium McWrap (Grilled Chicken)       4.48       190             0.0236
2  Southwest Salad (Grilled Chicken)       5.13       330             0.0155
3                       Apple Slices       1.07        70             0.0153
4                  Smoothies (small)       3.09       215             0.0144

In [9]:
# Rank the foods from best value (most calories/dollar) to worst value (least calorie/dollar)
best_value = menu.sort_values(by='price_per_calorie', ascending=False)
best_value.head()

                                Food  Price_USD  Calories  price_per_calorie
0                         Side Salad       1.70        20             0.0850
1   Premium McWrap (Grilled Chicken)       4.48       190             0.0236
2  Southwest Salad (Grilled Chicken)       5.13       330             0.0155
3                       Apple Slices       1.07        70             0.0153
4                  Smoothies (small)       3.09       215             0.0144

In [10]:
best_value.to_csv('best_value.csv', index=False)